@{
    ViewData["Title"] = "Estrategia List";



}


@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //Esta sería la plantilla original del sitio web.
    var estrategias = (List<Estrategia>)ViewData["estrategias"];
}


<script>
    $(document).ready(function () {
        //Todos los elementos que existen en el documento con la etiqueta data-toggle="tooltip" usarán tooltip de bootstrap
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<h1>LISTAR TICKETS</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Listado de Estrategias creadas</h4>
                <p class="card-category">Seleccione una acción a realizar para la estrategia desde la columna "Opciones"</p>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <th>ID</th>
                    <th>Nombre Estrategia</th>
                    <th>Aplicacion</th>
                    <th>Version</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                    </thead>
                    <tbody>
                        @foreach (var estrategia in estrategias)
                        {
                        <tr>
                            <td>@estrategia.Estrategia_ID</td>
                            <td>@estrategia.Nombre</td>
                            <td>@estrategia.Aplicacion.Nombre</td>
                            <td>@estrategia.Aplicacion.Version</td>
                            <td>@estrategia.Estado.Nombre</td>
                            <td>
                                <span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Editar"><i class="nc-icon nc-settings-gear-64"></i></span>
                                &nbsp;&nbsp;
                                <span style="cursor:pointer;" data-toggle="modal" data-target="#myModal" data-placement="top" title="Ver Script"><i class="nc-icon nc-paper-2"></i></span>
                                &nbsp;&nbsp;
                                <span style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="nc-icon nc-simple-remove"></i></span>

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-plain table-plain-bg">
            <div class="card-header ">
                <h4 class="card-title">Table on Plain Background</h4>
                <p class="card-category">Here is a subtitle for this table</p>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Country</th>
                    <th>City</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dakota Rice</td>
                            <td>$36,738</td>
                            <td>Niger</td>
                            <td>Oud-Turnhout</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>
                            <td>Sinaai-Waas</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sage Rodriguez</td>
                            <td>$56,142</td>
                            <td>Netherlands</td>
                            <td>Baileux</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Philip Chaney</td>
                            <td>$38,735</td>
                            <td>Korea, South</td>
                            <td>Overland Park</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Doris Greene</td>
                            <td>$63,542</td>
                            <td>Malawi</td>
                            <td>Feldkirchen in Kärnten</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Mason Porter</td>
                            <td>$78,615</td>
                            <td>Chile</td>
                            <td>Gloucester</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles de la prueba</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>